@import "tailwindcss";

@theme {
  /* Aquí puedes añadir tus colores personalizados si quieres */
  --color-brand-blue: #3b82f6;
  --color-brand-go: #00add8; /* Color oficial de Golang */
}

/* Estilos base opcionales */
:root {
  color-scheme: dark;
}

html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}