---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<span
  class="bg-slate-900 text-blue-300 px-3 sm:px-4 py-1 rounded-full text-xs font-semibold border border-blue-800/40 transition-all duration-300 hover:border-blue-500"
>
  {text}
</span>