<button
    id="backToTop"
    type="button"
    aria-label="Volver arriba"
    class="
        fixed
        bottom-5
        right-5
        md:bottom-8
        md:right-8
        z-50

        flex
        items-center
        justify-center

        w-10 h-10 lg:w-12 lg:h-12

        rounded-full

        bg-slate-800
        border
        border-slate-600

        text-blue-400

        shadow-lg

        opacity-0
        translate-y-3
        pointer-events-none

        transition-all
        duration-200
        ease-out

        hover:bg-slate-700
        hover:text-white
        hover:scale-110
        "
    >
    <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="2.5"
        stroke="currentColor"
        class="w-5 h-5 md:w-6 md:h-6"
    >
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M4.5 15.75 12 8.25l7.5 7.5"
        />
    </svg>
</button>

<script>
    const button = document.getElementById("backToTop");

    if (button) {

        window.addEventListener("scroll", () => {

            if (window.scrollY > 300) {

                button.classList.remove(
                    "opacity-0",
                    "translate-y-3",
                    "pointer-events-none"
                );

                button.classList.add(
                    "opacity-100",
                    "translate-y-0"
                );

            } else {

                button.classList.remove(
                    "opacity-100",
                    "translate-y-0"
                );

                button.classList.add(
                    "opacity-0",
                    "translate-y-3",
                    "pointer-events-none"
                );

            }

        });

        button.addEventListener("click", () => {

            window.scrollTo({

                top: 0,
                behavior: "smooth"

            });

        });

    }
</script>