---
const {title = "Mi Porfolio | Go & React" } = Astro.props;
import "../styles/global.css"; // Donde Tailwind vive
import ScrollToTop from "../components/ScrollToTop.astro";
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
	</head>
	<body class="bg-slate-900 text-white antialiased">
		<nav class="flex flex-col sm:flex-row items-center justify-between max-w-6xl mx-auto px-4 sm:px-6 py-6 gap-3">
			<span  class="inline-block font-bold text-lg sm:text-xl text-blue-400 transition-all duration-300 hover:text-white hover:scale-105">
				Purificación Calvo de León
			</span>
			<a
				href="mailto:cadesasanta@gmail.com"
				class="inline-block font-bold text-xl text-blue-400 transition-all duration-300 hover:text-white hover:scale-105"
			>
				cadesasanta@gmail.com
			</a>
			<div class="space-x-4">
				<a
					href="https://github.com/puricalvo"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-flex items-center gap-2 font-bold text-xl text-blue-400 transition-all duration-300 hover:text-white hover:scale-105"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 24 24"
						fill="currentColor"
						class="w-5 h-5"
					>
						<path d="M12 .5C5.648.5.5 5.648.5 12a11.5 11.5 0 008.207 10.95c.6.111.793-.261.793-.58 0-.286-.011-1.24-.016-2.247-3.338.726-4.042-1.417-4.042-1.417-.546-1.387-1.333-1.756-1.333-1.756-1.09-.745.083-.73.083-.73 1.205.085 1.84 1.237 1.84 1.237 1.07 1.833 2.807 1.303 3.492.996.108-.775.419-1.304.762-1.603-2.665-.303-5.467-1.333-5.467-5.932 0-1.311.469-2.383 1.236-3.223-.124-.303-.536-1.524.117-3.176 0 0 1.008-.323 3.3 1.231a11.48 11.48 0 016.006 0c2.291-1.554 3.298-1.231 3.298-1.231.655 1.652.243 2.873.12 3.176.77.84 1.235 1.912 1.235 3.223 0 4.61-2.807 5.625-5.48 5.922.431.372.815 1.102.815 2.222 0 1.606-.014 2.9-.014 3.294 0 .321.192.696.8.578A11.502 11.502 0 0023.5 12C23.5 5.648 18.352.5 12 .5z"/>
					</svg>

					<span>Ver más proyectos</span>
				</a>
			</div>
		</nav>
		
		<main class="max-w-6xl mx-auto px-4 sm:px-6">
			<slot /> </main>

		<footer class="text-center py-10 text-slate-500">
			© {new Date().getFullYear()} · Purificación Calvo de León
		</footer>

		<ScrollToTop />
	</body>
</html>